.selectWrapper {
  min-width: 100px;
  margin: 2px;
  border-radius: 4px;
  position: relative;
  background-color: rgb(227, 176, 211);
}

.select {
  height: 100%;
  padding: 2px 18px 2px 4px;
  font-size: 14px;
  border: 0;
  color: #fff;
  align-self: center;
  outline: none;
  background-color: transparent;
}

.item {
  color: #000;
}

.arrow {
  height: 15px;
  width: 15px;
  fill: #fff;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  z-index: 1;
}

.search {
  height: 22px;
  width: 22px;
  fill: #fff;
  pointer-events: none;
  top: 50%;
  right: 6px;
  z-index: 1;
}

.navigation {
  width: 100%;
  display: flex;
  border: 2px solid rgb(74, 123, 188);
  background-color: #fff;
  border-radius: 6px;
}

.input {
  padding: 8px 12px;
  font-size: 18px;
  border: 1px solid #fff;
  outline: none;
  background-color: transparent;
  flex-grow: 1;
  min-width: 80px;
  border-radius: 6px;
}

.deleteButton {
  outline: none;
  color: rgb(210, 214, 216);
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
