.navigation {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.arrow {
  border: solid rgb(74, 123, 188);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

@media (max-width: 500px) {
  .navigation {
    align-self: center;
  }
  .arrow {
    border-width: 0 2px 2px 0;
    padding: 2px;
  }
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.activeButton {
  background-color: rgb(177, 197, 251);
  color: #fff;
}

.currentPage {
  text-align: center;
  font-size: 15px;
  background-color: rgb(74, 123, 188);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

@media (max-width: 500px) {
  .currentPage {
    font-size: 10px;
    padding: 8px;
  }
}
